<% if logged_in? %>
  <div class="row">
    <aside class="col-sm-4">
      <%= form_with(model: @micropost, local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>
    <div class="col-sm-8">
      <%= render 'microposts/microposts', microposts: @microposts %>
    </div>
  </div>
<% else %>
<div class="center jumbotron">
  <div class="text-center">
    <h1>Welcome to the Microposts</h1>
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
  </div>
  <div>
    <a href="https://www.instagram.com/explore/tags/%E8%82%89%E5%AF%BF%E5%8F%B8/?hl=ja" target="_blank">インスタリンク１</a>
    <a href="https://www.instagram.com/explore/tags/%E8%82%89%E3%82%B9%E3%82%BF%E3%82%B0%E3%83%A9%E3%83%A0/?hl=ja" target="_blank">インスタリンク２</a>
    <a href="https://www.instagram.com/explore/tags/cr7/?hl=ja" target="_blank">CR7</a>
  </div>
</div>
<%end%>